
@{
    Layout = null;
}
<link href="~/Template/Admin/fontawesome/css/all.min.css" rel="stylesheet" />
<link href="~/Template/Admin/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Template/Admin/css/slick.css" rel="stylesheet" />
<link href="~/Template/Admin/css/tooplate-simply-amazed.css" rel="stylesheet" />
<header class="header order-last" id="tm-header">
    <nav class="navbar">
        <div class="collapse navbar-collapse single-page-nav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#section-1"><span class="icn"><i class="fas fa-2x fa-pencil-ruler"></i></span>Bloglar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section-2"><span class="icn"><i class="fa fa-quote-left fa-2x"></i></span>Yorumlar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section-3"><span class="icn"><i class="fa fa-trophy fa-2x"></i></span> Hakkımızda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section-5"><span class="icn"><i class="fa fa-2x fa-envelope-open" aria-hidden="true"></i></span> İletişim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Index/"><span class="icn"><i class="fa fa-2x fa-share" aria-hidden="true"></i></span> Siteye Git</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Login/LogOut/"><span class="icn"><i class="fa fa-2x fa-sign-out-alt" aria-hidden="true"></i></span> Çıkış</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<content>
    @RenderBody()
</content>

