@using TravelTrip.Models.Siniflar
@model List<Blog>

<div class="padding1">
    <h4>Moderatörün Seçtikleri</h4>
    <div class="box-left">
        @foreach (var item in Model)
        {
            <div class="bot-img">
                <img src="@item.ImageUrl" alt="" />
            </div>
            <div class="bot-desc">
                <p>@item.Description.Substring(0,77) ...</p>
            </div>
            <div class="clear"></div>
        }
    </div>
    @Html.Action("PartialOurBestTwo","Home")
</div>
